<div>
  <h1>QA Fun Board</h1>
</div>

<table>
  <tr>
    <th id='heading'>Host</th>
    <th id='heading'>Ticket</th>
    <th id='heading'>Who</th>
  </tr>

  <% @data.each do |key, value| %>
    <tr id=<%=key%>>
      <td id=<%=key%>><%= key %></td>
      <% value.each do |k, v| %>
        <td id=<%=k%>><%= v %></td>
      <% end %>
    </tr>
  <% end %>
</table>
