<div>
  <h1>QA Fun Board</h1>
</div>

<table>
  <% @data.each do |key, value| %>
    <tr id="<%=key%>">
      <td id="<%=key%>"><%= key.capitalize %></td>
      <% value.each do |k, v| %>
        <td id="<%=k%>"><%= v %></td>
      <% end %>
    </tr>
  <% end %>
</table>
